extends layout
append head 
  link(href="/css/ace.css", rel="stylesheet")
  link(href="/css/tags.css", rel="stylesheet")

block content
  +nav("nlp_editor")
  
  .container-fluid
    .row
      .col-lg-6.col-md-6
        .panel.panel-default
          .panel-heading Редактор
          .panel-body
            #editor-container
          .panel-footer
            .radio
              label
                input#analysisType-morph(type='radio', name='optionsRadios', value='option1', checked='')
                | Морфололгический анализ
            .radio
              label
                input#analysisType-token(type='radio', name='optionsRadios', value='option2')
                | Токенизация
            .radio
              label
                input#analysisType-sentiment(type='radio', name='optionsRadios', value='option3')
                | Эмоциональный тон
            button.btn.btn-primary.btn-raised(onclick='analyzeText();') Анализировать текст
            span.togglebutton
              label
                input#refreshmode(type='checkbox')
                | Автообновление
        button.btn.btn-primary.btn-raised(onclick='test();') 1
        button.btn.btn-primary.btn-raised(onclick='test2();') 2
      .col-lg-6.col-md-6
        .panel.panel-default
          .panel-heading#results-heading Результаты анализа
          .panel-body.scrollable#results-panel
            #words-container  Тут буду результаты анализа текста

      .col-lg-12.col-md-12
        .panel.panel-default#single-word-variants(style="visibility: hidden;")
          .panel-heading Варианты морфологического анализа слова
          .panel-body
            .row
              .col-md-3
                input.form-control(type='text', value='порграмер')#single-word
                button.btn.btn-primary.btn-raised(onclick='updateSingleWordMorphVariants();') Показать варианты
              .col-md-12
                #single-word-variants-results Введите слово. Или выберите в таблице с результатами Морфологического анализа
                #single-word-modals





  // ace
  script(src='/js/ace/src/ace.js')
  // az
  script(src="/js/az.js")
  script(src="/js/az.dawg.js")
  script(src="/js/az.morph.js")
  script(src="/js/az.tokens.js")
  // main
  script(src='/js/nlp-editor.js')
  